<!--footer-->
<div>
    <footer>

    </footer>
</div>

<!--let browser UI thread complete the run JS-->
<script type="text/javascript">
    head.js("https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
        .js("http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js")
        .js("../core/core.js")
        .js("../core/app.js")
        .js("../core/sandbox.js")
        .js("../module/mSearch.js");
</script>

</body>
</html>
