<div class="navbar">
    <nav id="filters-bar" class="navbar-inner">
        <form id="search-box" class="navbar-form pull-left">
            <input id="search_input" type="search" class="search-query" placeholder="Search" name='q' />
            <button id="search_button" class="btn btn-inverse">Search</button>
            <button id="quit_search" class="btn btn-inverse">Reset</button>
        </form>
        <ul class="nav">
            <li>
                <a href="#red">Red</a>
            </li>
            <li>
                <a href="#blue">Blue</a>
            </li >
            <li>
                <a href="#mobile">Mobile</a>
            </li>
            <li>
                <a href="#accessory">Accessory</a>
            </li>
        </ul>
    </nav>
    </div>