div
    footer This is the footer

script
    head.js("https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
        .js("http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js")
        .js("../core/core.js")
        .js("../core/app.js")
        .js("../core/sandbox.js")
        .js("../module/mSearch.js");
