doctype 5
html(lang='en')
    head
        title HULK : NODE
        link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css')
        script(src='http://cdnjs.cloudflare.com/ajax/libs/headjs/0.99/head.min.js')
        meta(charset="utf-8")
     body
         block content