div.navbar
    <nav#filters-bar.navbar-inner
        form#search-box.navbar-form.pull-left
            input#search_input(type='search' class='search-query' placeholder='Search' name='q')
            <button id="search_button" class="btn btn-inverse">Search</button>
            <button id="quit_search" class="btn btn-inverse">Reset</button>

        ul.nav
            li
                a(href="#red")Red
            li
                a(href="#blue")Blue
            li
                a(href="#mobile")Mobile
            li
                a(href="#accessory")Sccessory